# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [8]:
id1 = "318634961"

In [9]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [10]:
#df = pd.DataFrame([id1,id2])

In [11]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

ariel nabeth

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [12]:
import numpy as np
import pandas as pd
import datetime as dt

In [13]:
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
df=pd.read_csv(url)

In [14]:

df.date=pd.to_datetime(df.date)
month=(df.date.dt.month_name()=="March")
my_month=df.date[month].copy
my_month

<bound method NDFrame.copy of 7       2021-03-01
8       2021-03-02
9       2021-03-03
10      2021-03-04
11      2021-03-05
           ...
39744   2021-03-27
39745   2021-03-28
39746   2021-03-29
39747   2021-03-30
39748   2021-03-31
Name: date, Length: 5316, dtype: datetime64[ns]>

 # Q2

In [15]:
 vacc=df.loc[:,['daily_vaccinations',"people_vaccinated_per_hundred"]]
vacc.fillna(0,inplace=True)
vacc

       daily_vaccinations  people_vaccinated_per_hundred
0                     0.0                           0.00
1                  1367.0                           0.00
2                  1367.0                           0.00
3                  1367.0                           0.00
4                  1367.0                           0.00
...                   ...                            ...
39877             60047.0                          12.45
39878             61908.0                          12.54
39879             66884.0                          12.76
39880             53633.0                           0.00
39881             59050.0                          13.01

[39882 rows x 2 columns]

# Q3

In [17]:
df['date'] = pd.to_datetime(df.date)
df['month'] = pd.DatetimeIndex(df.date).month
df_March = df[df.month == 3]

In [18]:
data_with_index = df_March.set_index("location")
data_with_index = data_with_index.drop(["World","Africa","Asia","Upper middle income","High income","South America","North America","Europe","Kosovo","Low income","Northern Cyprus","Northern Ireland","Oceania","Upper middle income","Wales"])

In [19]:
max=data_with_index.daily_vaccinations.max()
max_vacc=df_March.loc[(df["daily_vaccinations"] ==max)] 
max_vacc[['location','date',"daily_vaccinations"]]

     location       date  daily_vaccinations
7242    China 2021-03-31           4851614.0

# Q4

In [ ]:
import statistics
print("mean:",df_March.daily_vaccinations.mean())
print("Meadian:",df_March.daily_vaccinations.median())

SyntaxError: invalid syntax (<ipython-input-23-57c4c6aa4bc9>, line 1)

# Q5

In [37]:
Israel = df_March.loc[df_March.location == 'Israel']
Israel_7days=Israel.iloc[0:7]
Israel_7days
mean=Israel_7days.people_vaccinated_per_hundred.mean()
mean

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
17615,Israel,ISR,2021-03-01,8222293.0,4763802.0,3458491.0,106784.0,98138.0,94.99,55.04,39.96,11338.0,3
17616,Israel,ISR,2021-03-02,8327838.0,4804809.0,3523029.0,105545.0,92155.0,96.21,55.51,40.70,10647.0,3
17617,Israel,ISR,2021-03-03,8436193.0,4846595.0,3589598.0,108355.0,89954.0,97.47,55.99,41.47,10393.0,3
17618,Israel,ISR,2021-03-04,8554527.0,4886071.0,3668456.0,118334.0,90277.0,98.83,56.45,42.38,10430.0,3
17619,Israel,ISR,2021-03-05,8612015.0,4903235.0,3708780.0,57488.0,90255.0,99.50,56.65,42.85,10427.0,3
17620,Israel,ISR,2021-03-06,8647862.0,4913803.0,3734059.0,35847.0,89749.0,99.91,56.77,43.14,10369.0,3
17621,Israel,ISR,2021-03-07,8751522.0,4944776.0,3806746.0,103660.0,90859.0,101.11,57.13,43.98,10497.0,3

# Q6

In [ ]:
url = 'https://raw.githubusercontent.com/nlihin/data-analytics/main/datasets/TripAdvisor_Bangkok.csv'
house_df = pd.read_csv(url)
house_df.head()

# Q7

In [64]:

df_big=df_March.groupby('location')[['people_vaccinated_per_hundred']].max()
df_sort=df_big.sort_values(by='people_vaccinated_per_hundred' ,axis=0, ascending=False)

df_sort

                      people_vaccinated_per_hundred
location
Gibraltar                                     94.21
Saint Helena                                  71.55
Seychelles                                    64.76
Falkland Islands                              62.79
Israel                                        60.63
...                                             ...
Macao                                           NaN
Qatar                                           NaN
Saudi Arabia                                    NaN
Trinidad and Tobago                             NaN
United Arab Emirates                            NaN

[196 rows x 1 columns]

In [65]:
mx=df_March.people_vaccinated_per_hundred.max()
mx

94.21

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line